*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
  letter-spacing: 0.5px;
  position: relative;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  padding: 0 10px;
}

.nav {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: black;
}
.nav__brand {
  text-transform: uppercase;
  color: rgb(204, 204, 204);
  text-decoration: none;
  font-size: 2rem;
}

.nav__link{
  letter-spacing: 0.5px;
  color: rgb(204, 204, 204);
  text-decoration: none;
  font-size: 1.5rem;
}

.nav__link:hover {
  color: #ff3c78;
}

/* .nav__item::after{
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 50%;
  left: 0;
  bottom: -10px;
} */

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    text-align: center;
    right: 0;
    height: 93vh;
    width: 40vw;
    background: black;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

li::after {
  content: '';
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: all 0.5s ease;
}

li:hover::after{
  width: 100%;
}