.video {
    width: 100%;
    height: 75rem;
    
}

.video video {
    width: 100%;
    object-fit: cover;
    z-index: 0;
    height: 100%;
    
}

.curve {
    fill: #fff;
    height: 350px;
    width: 100%;
    position: absolute;
    margin-top: 495px;
    left: 0;
}