html {
    font-size: 62.5%;
}
.video {
    width: 100%;
    height: 72rem;
    
}

.video img {
    width: 100%;
    object-fit: cover;
    z-index: 0;
    height: 100%;
    
}

.text {
    font-family: monospace;
    color: white;
    z-index: 1;
    transform: translate(80%,-280%);
    position: absolute;
    font-size: 3.5rem;
}

.text_intro {
    color: #ff305b;
}

.typical_text {
    color: #ff305b;
}

.head_first {
    color: #ff305b;
}

span {
    font-weight: 700;
}
