/* .container {
    margin-top: 20px;
    position: absolute;
} */
.Container {
    margin-top: 20px;
    position: absolute;
    margin-left: 10rem;
    padding-bottom: 5rem;
}
h1 {
    width: 100%;
    font-size: 3.5rem;
    padding-bottom: 6rem;
}

.head {
    margin-top: 2rem;
}

.font {
    font-weight: 700;
}

.About_text {
    padding-top: 2rem;
    text-align: left;
    /* margin-right: 0.1rem; */
    font-size: 1.70rem;
}

.About_heading {
    text-align: left;
    margin-left: 2.5rem;
    font-weight: 700;
    font-size: large;
}

.about_inf {
    margin-left: 1.8rem;
    margin-top: -2rem;
}

.contact_inf {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
}

table {
    width: 60%;
}

td {
    width: 5%;
}

tr {
    margin-bottom: 3rem;
}

.social_media {
    margin-top: 3rem;
    padding: 2%;
}

.social_media table tbody tr td a {
    color: gray;
    font-size: 2.5rem;
    border-radius: 10%;
    transition: 0.5s;
}

.social_media table tbody tr td a:hover {
    color: white;
    background-color: black;
}

.img {
    padding-left: 1.5rem;
    width: 100%;
    background-attachment: fixed;
    border-radius: 20%;
    height: 60rem;
    object-fit: cover;
}

.BUTTON {
    /* width: 25rem;
    font-size: 2rem;
    padding: 1.1rem;
    border-radius: 10rem;
    margin-top: 5rem;
    margin-right: 40rem; */
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 1.1rem;
    transition: transform 0.3s ease;
    margin-top: 4rem;
    font-size: 1.5rem;
    margin-right: 40rem;
}

.BUTTON::after, .BUTTON::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    /* background-color: #000; */
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease;
}

.BUTTON:hover {
    transform: translate(-12px,-12px);
    background-color: #ff305b;
}

.BUTTON:hover::after {
    transform: translate( 6px,6px);
}

.BUTTON:hover::before {
    transform: translate( 12px,12px);
}

@media screen and (max-width: 640px) {
    .aa {
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .Container {
        margin: 0;
        padding: 0;
    }

    .About_heading {
        margin-top: 5rem;
    }
    .video img {
        width: 10%;
    }
    
}


@media screen and (max-width: 1254px) {
    .video {
        width: 100%;
    }
    .video img {
        width: 100%;
    }
    .text {
        width: 60%;
        transform: translate(42%,-220%);
        /* margin-left: -22rem;
        padding-top: 100px; */
        
    }
}