*{
    margin: 0;
    padding: 0;
}
.box {
    background: linear-gradient(60deg,#2414DB ,#AC6EFF);
    width: 100%;
    display: flex;

}

.box_header {
    text-align: start;
    background-color: white;
    width: 65%;
    height: 751px;
    margin-top: -30px;
    border-radius: 0 200px 200px 0;
}

.heading {
    font-family: Poppins bold 43pt;
    color: #2B2E39,;
}

h2{
    font-family: Poppins Extra Bold 85pt;
    color: #2B2E39,;
}

.heading, h2 {
    margin-top: 50px;
    padding-left: 5%;
}