*{
    margin: 0;
    padding: 0;
}
.box {
    background: linear-gradient(60deg,#AC6EFF ,#2414DB 140%);
    width: 100%;
    display: flex;

}

.box_header {
    text-align: start;
    background-color: white;
    width: 65%;
    height: 751px;
    margin-top: -30px;
    border-radius: 0 200px 200px 0;
}

.heading {
    margin-top: 50px;
    font-family: Poppins bold 57pt;
    font-size: 30px;
    color: #2B2E39,;
}

h2{
    font-family: Poppins Extra Bold 85pt;
    font-size: 60px;
    color: #2B2E39,;
    margin-top: 130px;
}

.heading, h2 {
    margin-left: 50px;
    padding-left: 5%;
}

.inputs {
    display: absolute;
    color: #8D9092;
    height: 200px;
    /* margin-top: 5rem; */
    /* margin-left: 10px; */
    margin: 80px;
}

.inputs input,select {
    border-color: #2414DB;
    border-radius: 50px;
    border: 1px solid;
}

input {
    border-color: #2414DB;
    padding: 5px;
    margin-left: 30px;
}

span {
    top:-0.1px;
    margin-left: -135px;
    position: relative;
    color: #8D9092;
}

.Alert_icon {
    /* margin-left: 2.8rem; */
    margin-left: 2.8rem;
    /* height: 15px; */
    font-size: 20px;
    position: absolute;
    top: 4px;
}

#Fabric {
    padding: 5px;
    border-color: #2414DB;
    color: #8D9092;
    font-family: Poppins Medium 27pt;
    font-size: 15px;
    margin-left: 100px;
}