#experiance {
    margin-top: 87rem;
}

#experiance h2 {
    margin-bottom: 2rem;
}
.experience_head {
    width: 100%;
    font-size: 3.5rem;
}

.experience_head-2 {
    margin-top: -3rem;
}

.experience__container {
    text-align: left;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background-color: black;
    padding: 2.4rem 5rem;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid transparent;
    color: white;
    margin-top: 4rem;
    transition: 0.5s;
}

.experience__container > div:hover {
    background: #FF3C78;
    border-color: var(--color-primary-variant);
    cursor: default;
    margin-top: -5px;
}

.experience__container  > h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 0.8rem;
    font-size: medium;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    #experiance {
        margin-top: 150rem;
    }
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

}

@media screen and (max-width: 743px) {
    #experiance {
        margin-top: 160rem;
    }
    .experience__container {
        grid-template-columns: 1fr;
        display: inline-grid;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

}

@media screen and (max-width: 600px) {
    #experiance {
        margin-top: 160rem;
    }
    .experience__container {
        gap: 1rem;
        display: inline-grid;
    }

    .experience__container > div {
        width: 100%;
        margin: 2rem 1rem;
    }
}

